hf_xet
transformers>=4.35.1
gcsfs==2025.3.0
fsspec==2025.3.0
datasets[audio]>=2.14.7
accelerate>=0.24.1
matplotlib
tensorboard
Cython
indic-transliteration
silero-vad
pydub
json
torch
torchaudio
soundfile
pandas
